* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e8;
}

.logo {
    max-width: 200px;
}

.logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}